@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Saira', sans-serif;
}

span {
    font-family: inherit;
    font-weight: inherit;
}

.saira-bold{
  font-family: "Saira", sans-serif;
  /* font-size: 2em; */
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
